<mat-card>
    <form (submit)="onRegistrarUsuario(usuarioForm)" #usuarioForm="ngForm">
        <mat-card-subtitle>Faça um breve cadastro, para ficar por dentro das campanhas de doações.</mat-card-subtitle>
        <mat-form-field>
            <input required minlength="4" type="text" matInput placeholder="Nome" name="nome" ngModel #nome="ngModel" />
            <mat-error *ngIf="nome.invalid">Digite um nome válido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input required type="text" matInput placeholder="CPF" name="cpf" ngModel #cpf="ngModel" />
            <mat-error *ngIf="cpf.invalid">Digite um CPF válido</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input required type="text" matInput placeholder="Idade" name="idade" ngModel #idade="ngModel" />
            <mat-error *ngIf="idade.invalid">Digite sua idade</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" name="endereco" ngModel #endereco="ngModel" />
            <!-- <mat-error *ngIf="endereco.invalid">Digite seu endereco</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Celular" name="celular" ngModel #celular="ngModel" />
            <!-- <mat-error *ngIf="celular.invalid">Digite seu numero de celular</mat-error> -->
        </mat-form-field>
        <mat-form-field apperance="fill">
            <!--             <input matInput placeholder="Tipo Sanguíneo" name="tipoSanguineo" ngModel #tipoSanguineo="ngModel" /> -->
            <mat-select value="" matInput placeholder="Tipo Sanguíneo" name="tipoSanguineo" ngModel
                #tipoSanguineo="ngModel">
                <mat-option value=A+>A+</mat-option>
                <mat-option value=A->A-</mat-option>
                <mat-option value=B+>B+</mat-option>
                <mat-option value=B->B-</mat-option>
                <mat-option value=AB+>AB+</mat-option>
                <mat-option value=AB->AB-</mat-option>
                <mat-option value=O+>O+</mat-option>
                <mat-option value=O->O-</mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="tipoSanguineo.invalid">Digite um tipo sanguíneo válido</mat-error> -->
        </mat-form-field>
        <br>
        <!-- <button mat-raised-button>Registrar dados</button> -->
        <button mat-raised-button (click)="openDialog()">Registrar dados</button>
<!--         <button mat-raised-button [routerLink]="['/campanhas, ngForm']">Registrar dados</button> -->
    </form>
</mat-card>